@font-face {
    font-family: 'LSeedJP';
    src: url(https://twice.xla.jp/fonts/LSeedJPRg.woff) format('woff');
    font-weight: 500, normal;
    font-style: normal;
}

@font-face {
    font-family: 'LSeedJP';
    src: url(https://twice.xla.jp/fonts/LSeedJPBd.woff) format('woff');
    font-weight: 700;
    font-style: normal;
}

/* スクロールバー */
::-webkit-scrollbar {
    width: 13px;
    height: 10px;
    transition: .2s;
}

::-webkit-scrollbar-track {
    background: var(--twice-1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

::-webkit-scrollbar-thumb {
    background: #fff7;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

::-webkit-scrollbar-thumb:hover {
    background: #fffa;
}

::-webkit-scrollbar-thumb:active {
    background: var(--twice-2);
}

::selection {
    background: var(--twice-2);
    color: #FFF;
}

:root {
    --twice-1: #FF5FA2;
    --twice-2: #FCC89B;
    --nayeon: #5BC2E7;
    --jeongyeon: #c5b97a;
    --momo: #ff8da1;
    --sana: #987dd4;
    --jihyo: #ffc56e;
    --mina: #6dcdb8;
    --dahyun: #ffffff;
    --chaeyoung: #ee2737;
    --tzuyu: #005eb8;
    --blackpink: #681e3d;
    --blackpinklight: #942050;
    --url: #c5c1ff;
    --img-white: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%) contrast(101%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "LSeedJP", sans-serif;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
    background-color: var(--twice-1);
    color: #fff;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: var(--url);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .left a {
    height: 100%;
    width: 50px;
}

header .left img {
    display: block;
    width: 50px;
    height: 100%;
    margin: 0 0 0 10px;
    opacity: .5;
}

header .right {
    margin: 0 10px 0 0;
}

header .right a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    background: var(--blackpink);
    display: flex;
    padding: 3px  10px 3px 5px;
    border-radius: 99px;
    transition: 1s;
}

header .right img {
    display: block;
    width: 20px;
    filter: var(--img-white);
    margin: 0 3px 0 0;
}

header .right a:hover {
    transition: .2s;
    background: var(--blackpinklight);
}